<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - JobSearch </title>
  </head>
  <body>
    <h1> Search for details on a CCR job.</h1>
    <p> Please select a resource and type a job id. </p>
    <form action="/" method="POST">
      <select name="cluster">
        <option value="ub-hpc">UB-HPC</option>
        <option value="chemistry">Chemistry</option>
        <option value="industry">Industry</option>
        <option value="mae">Mae</option>
        <option value="physics">Physics</option>
      </select>
      Job id:
      <input type="text" name="jobid" maxlength="7">
      <input type="submit" value="Submit">
    </form>
    <p>{{ user.error }}</p>
  </body>
</html>
